div.modal-body {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

div.modal-body>iframe {
  border:0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-title {
  font-weight: 100;
}

.un-pad {
  padding:0;
}

.weather-icon {
  min-width: 39px;
}

.entry-mode {
  position:relative;
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

div.spinner {
  font-size: 48px;
  position:fixed;
  right:calc(50% - 24px);
  top:calc(50% - 34px);
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
  z-index:100001;
}